<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/katakdb</property>
    <property name="hibernate.connection.username">adminkatak</property>
    <property name="hibernate.connection.password">password</property>
   
    <!-- Internal pool configuration -->
    <property name="hibernate.connection.pool_size">1</property>
  
    <!-- Database dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   
    <!-- Important properties -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>   
    <!-- Mapping -->
    <mapping class="Negocio.Entidades.Cliente"/>
    <mapping class="Negocio.Entidades.Venta"/>
    <mapping class="Negocio.Entidades.Producto"/>
    <mapping class="Negocio.Entidades.GrupoProds"/>
    <mapping class="Negocio.Entidades.Pedido"/>
  </session-factory>
</hibernate-configuration>
